<header id="page-hero" class="site-header">

    <TopNavMenu></TopNavMenu>

    @*<section class="layout-hero d-flex align-items-center text-light text-center">
            <div class="container">
                <div>
                    <video autoplay muted loop id="myVideo">
                        <source src="videos/BracketShowteaser15sec.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="videocontent">
                    <h1>Heading</h1>
                    <p>Lorem ipsum...</p>
                    <button id="myBtn" onclick="myFunction()">Pause</button>
                </div>

                <div class="row justify-content-center">
                        <div class="col-11 col-sm-10 col-md-8 animated fadeInUp">
                            <h3 class="page-section-title">Blazor</h3>
                            <p class="page-section-text">
                                Build client web apps with C#
                            </p>
                        </div>
                    </div>
            </div>
        </section>*@

    @*<section class="layout-hero d-flex align-items-center text-light text-center">
        <div class="container">
            
        </div>
    </section>*@

    <div class="hero-wrapper">
        <div class="hero">
            <div class="row justify-content-center videocaption">
                <div class="col-11 col-sm-10 col-md-8 animated fadeInUp">
                    <h3 class="page-section-title">Bracket Show</h3>
                    <p class="page-section-text">
                        Wow c'est cool
                    </p>
                </div>
            </div>
            <figure>
                <video loop="loop" muted="muted" autoplay="autoplay">
                    <source src="videos/BracketShowteaser15sec.mp4" type="video/mp4">
                </video>
                @*<div class="videocontent">
                <h1>Heading</h1>
                <p>Lorem ipsum...</p>
                <button id="myBtn" onclick="myFunction()">Pause</button>
            </div>*@
                @*<figcaption>
                    <h1>Really cool video parallax</h1>
                </figcaption>*@
            </figure>
        </div>
    </div>

</header>