@using BracketShow.Shared
@inject HttpClient Http

<article id="page-latest" class="page-section">

    <header class="page-section-header container text-center">
        <h2 class="page-section-title">Dernière vidéo</h2>
        <p class="page-section-text">
            Voici la dernière vidéo
        </p>
    </header>

    <section class="layout-media container my-5">
        <div class="justify-content-center">
            <div class="videoWrapper" style="clip-path: polygon(0 2%, 100% 2%, 100% 98%, 0% 98%)">
                @if (latestVideo == null) {
                <p><em>Compilation en cours...</em></p>
                } else {
                <iframe src="https://www.youtube.com/embed/@latestVideo.Id" frameborder="0" allowfullscreen></iframe>
                }
            </div>
        </div>

    </section>

</article>

@code {
    private VideoInformation latestVideo;

    protected override async Task OnInitializedAsync()
    {
        latestVideo = await Http.GetJsonAsync<VideoInformation>("video");
    }

}