<article id="page-media" class="page-section py-5">

    <header class="page-section-header container text-center">
        <h2 class="page-section-title">Media</h2>
        <p class="page-section-text">
            A quick way to create a two-column pattern that shows an image next to a photo. In Bootstrap 4, you gain the ability
            to center elements using flexbox classes. A couple of things to watch out for is that these will always render as
            single columns and can sometimes be too wide, so these particular media elements are inside an eight-column grid.
        </p>
    </header>

    <section class="layout-media container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 layout-animation invisible">

                <section class="media">
                    <img class="layout-image" src="images/media01.gif" alt="Media Image 01">
                    <div class="media-body">
                        <h4 class="layout-title">Eric</h4>
                        <p class="layout-text">
                            Bla bla, Eric est bizarre
                        </p>
                    </div>
                </section>

                <section class="media">
                    <img class="layout-image" src="images/media02.gif" alt="Media Image 02">
                    <div class="media-body">
                        <h4 class="layout-title">Bruno</h4>
                        <p class="layout-text">
                            Bla bla, Bruno est aussi bizarre
                        </p>
                    </div>
                </section>

                @*<section class="media">
                    <img class="layout-image" src="images/media03.gif" alt="Media Image 03">
                    <div class="media-body">
                        <h4 class="layout-title">Don't Worry, Be Happy!</h4>
                        <p class="layout-text">
                            With the bad rap they get from movies, monsters have it pretty tough. Perhaps no monster has done more to squash
                            stereotypes than Smiley, who can take anyone's frown and turn it upside down.
                        </p>
                    </div>
                </section>*@


            </div>
        </div>

    </section>

</article>