<article id="page-playlist" class="page-section">
    <h3>@PlaylistInformation.Title</h3>

    <section class="layout-photogrid">
        <div class="row justify-content-center no-gutters">
            @if (videos != null)
            {
                foreach (var video in videos)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <a href="">
                            <image src="http://img.youtube.com/vi/@video.Id/0.jpg" width="100%" style="clip-path: polygon(0 13%, 100% 13%, 100% 87%, 0% 87%); margin-top: -10%; margin-bottom: -10%" />
                        </a>
                    </div>
                }
            }

            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster02_tn.svg" alt="Monster 02 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster03_tn.svg" alt="Monster 03 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster04_tn.svg" alt="Monster 04 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster05_tn.svg" alt="Monster 05 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster06_tn.svg" alt="Monster 06 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster07_tn.svg" alt="Monster 07 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster08_tn.svg" alt="Monster 08 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster09_tn.svg" alt="Monster 09 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster10_tn.svg" alt="Monster 10 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster11_tn.svg" alt="Monster 11 image">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="layout-image" src="images/monster12_tn.svg" alt="Monster 12 image">
        </div>*@
        </div>

    </section>

</article>