@model Models.HomeViewModels.SerieViewModel
<div class="col-md-12 col-xs-12">
    <div class="col-md-12 col-xs-12">
        <h1>@Html.DisplayFor(m => m.Category)</h1>
    </div>
    @Html.DisplayFor(m => m.Videos)
</div>
