@model Models.HomeViewModels.VideoViewModel
<div class="col-md-3 col-xs-6">
    <a href="?id=@Model.YouTubeId">
        <image src="http://img.youtube.com/vi/@Model.YouTubeId/0.jpg" width="100%" />
    </a><br/>
      @Model.Title
</div>
