@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<h3>Pourquoi?</h3>
<p>Le bracket show est né d'une volonté de rendre service à la communauté des développeurs de logiciels.</p>
<p>Le nom bracket vient du fait que la plupart des languages modernes utilisent les { } pour définir la structure 
    du code. Les { } permettent de contrôler la portée de ce qui se trouve à l'intérieur. C'est exactement 
    l'intention du show. Le but est de faire de cours vidéos sur un seul sujet bien cerné.</p>

<h3>Mission</h3>

<h4>Parler de développement logiciel</h4>
<p>Le développement logiciel d'aujourd'hui est une chose de plus en plus complexe.
    En parler ouvertement permet d'échanger des idées et de découvrir des perspectives différentes.</p>
<h4>Partager de la connaissance</h4>
<p>Il est impossible de tout savoir. Nous espérons que les vidéos publiés sur ce site seront une bonne
    source d'information et de référence pour apprendre comment bien faire les choses.</p>
<h4>Démontrer des techniques utiles</h4>
<p>Les trucs et astuces publiés ici seront utiles pour tous les développeurs.</p>
