@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<h3>Vos hôtes</h3>
<address>
    Eric De Carufel - eric.decarufel{at}gmail.com<br />
    Bruno Barrette - bruno.barrette{at}gmail.com<br />
</address>
