@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<h3>Vos hôtes</h3>
<address>
    <a href="mailto:eric.decarufel@gmail.com">Eric De Carufel</a><br />
    <a href="mailto:bruno.barrette@gmail.com">Bruno Barrette</a><br />
</address>
